openapi: 3.0.0
servers:
  - description: Default server
    url: https://evergreen-api.stealthpuppy.com/
  # Added by API Auto Mocking Plugin
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/stealthpuppy/evergreen-api/1.0.0
info:
  description: Evergreen API
  version: 1.0.0
  title: An API that provides evergreen application versions and URLs
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: apps
    description: Applications
paths:
  '/apps':
    get:
      tags:
        - apps
      summary: List all supported applications
      operationId: apps
      description: |
        Lists the supported application stubs, application names and vendor URLs.
      responses:
        '200':
          description: Lists supported applications
          content:
            application/json:
              schema:
                type: array
                items: {"$ref":"#/components/schemas/apps"}
  '/app/{appName}':
    get:
      tags:
        - app
      summary: List details for the selected application
      operationId: appName
      description: |
        Lists known details for the selected application.
      parameters:
        - name: appName
          in: path
          description: 'The name of the application to return details for.'
          required: true
          example: "MicrosoftEdge"
          schema:
            type: string
      responses:
        '200':
          description: Lists details for the application
          content:
            application/json:
              schema:
                type: array
                items: {"$ref":"#/components/schemas/app"}
components:
  schemas:
    apps:
      type: object
      required:
        - Name
        - Application
        - Link
      properties:
        Name:
          type: string
          example: 'MicrosoftEdge'
        Application:
          type: string
          example: 'Microsoft Edge'
        Link:
          type: string
          example: 'https://www.microsoft.com/edge'
    app:
      type: object
      required:
        - Version
        - URI
      properties:
        Version:
          type: string
          example: '103.0.1264.5'
        URI:
          type: string
          example: 'https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/df5f91af-5996-41be-b122-e2c697f911fe/MicrosoftEdgeBetaEnterpriseX64.msi'